{% load staticfiles %}
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyATS Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static 'login.css' %}" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <form class="form-signin" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading" style="text-align:center;">Enter your ATS ID#</h2>
        {% for error in Search_Form.non_field_errors %}
          <div class="alert alert-danger" style="text-align:center;" role="alert"><p>{{ error }}</p></div>
          {% endfor %}
        <label for="inputEmail" class="sr-only">ATS ID#</label>
        <input name="person_id" type="text" id="inputEmail" class="form-control" placeholder="ATS ID#" required autofocus/>
        <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div> <!-- /container -->
  </body>
  </html>
